Service References/DBService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18336/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18336/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_saveFileDataToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:saveFileDataToDB" />
  </wsdl:message>
  <wsdl:message name="IDataService_saveFileDataToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveFileDataToDBResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_saveTrafficDataToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:saveTrafficDataToDB" />
  </wsdl:message>
  <wsdl:message name="IDataService_saveTrafficDataToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveTrafficDataToDBResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IDataService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="saveFileDataToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/saveFileDataToDB" message="tns:IDataService_saveFileDataToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/saveFileDataToDBResponse" message="tns:IDataService_saveFileDataToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveTrafficDataToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/saveTrafficDataToDB" message="tns:IDataService_saveTrafficDataToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/saveTrafficDataToDBResponse" message="tns:IDataService_saveTrafficDataToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/login" message="tns:IDataService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/loginResponse" message="tns:IDataService_login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saveFileDataToDB">
      <soap:operation soapAction="http://tempuri.org/IDataService/saveFileDataToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveTrafficDataToDB">
      <soap:operation soapAction="http://tempuri.org/IDataService/saveTrafficDataToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IDataService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:18336/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>